img {
    height: 170px;
    vertical-align: right;
    -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

td div {
    margin-right: 10px
}